.error {
    color: red;
    margin: 0;
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

.search_input_container {
    width: 35%;
    margin-top: 10px;

    .search_input {
        display: flex;
        align-items: center;

        input {
            height: 35px;
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #cccccc;
            color: #cccccc;
            font-size: 21px;

            &:focus {
                outline: none;
            }
        }

        > span {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}

.yearslider {
    span {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
