.item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #c1c1c1;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: #cccccc;
    }

    .image {
        width: 80px;
        height: 80px;
        border-radius: 5px;
    }

    .item_content {
        margin-left: 10px;
        width: calc(100% - 80px);

        .content_title {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .content_year {
            color: #898989;
        }
    }
}
