.side__bar {
  .list__content {
    .item {
      cursor: pointer;
      padding-bottom: 10px;
      border-bottom: 1px solid;
      padding-top: 15px;
      .image {
        width: 80px;
        height: 80px;
      }
    }
  }
}
