.container {
    max-width: 1200px;
    margin: auto;
    color: #636363;
    font-family: sans-serif;

    .header {
        padding-bottom: 10px;
        border-bottom: 1px solid #c1c1c1;
    }

    .main {
        display: flex;

        .side__bar {
            width: 40%;
            max-height: 100vh;
            overflow-x: auto;
        }
    }

    .loader {
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    .list__content {
        .count {
            padding: 10px 0 10px 20px;
        }
    }
}
