.container {
    max-width: 1200px;
    margin: auto;
    color: #636363;
    font-family: sans-serif;

    .header {
        box-sizing: border-box;
        padding: 20px;
        background: #505050;
        color: #cccccc;

        .filters {
            display: flex;
            justify-content: space-between;

            .input {
                width: 35%;
            }
        }
    }

    .main {
        display: flex;

        .side__bar {
            width: 40%;
            min-height: 600px;
            max-height: calc(100vh - 100px);
            overflow-x: auto;
            border: 1px solid #c1c1c1;
            border-right: none;

            .list__content {
                padding: 0;
            }
        }
    }

    .loader,
    .not__found {
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    .list__content {
        .count {
            padding: 10px 0 10px 20px;
        }
    }
}

.btn {
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;

    span {
        margin-right: 5px;
    }

    &:hover {
        background: #cccccc;
    }
}
