.container {
  .header {
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  .main {
    display: flex;
    .side__bar {
      flex: 30%;
      min-height: 600px;
      border-right: 1px solid;
    }
    .content {
      flex: 70%;
    }
  }
}
